@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Josefin+Sans&family=Oswald:wght@200&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
}
body{
   /*background: $bgcolor;*/
    color: $textcolor;
}
.navbar-brand{
    color: $textcolor;
    font-size: 1.5rem;
    font-family: "Raleway";
    font-weight: bold;
    text-shadow: 1px 1px rgba(28, 19, 19, 0.8);    
    letter-spacing: 2px;
    
    &:hover{
        color: #f9004d;
        transition: 0.2s;
        
    }
}

.navbar-nav a{
    color: $textcolor;
    font-size: 1rem;
    font-family: "Raleway";
    font-weight: bold;
    padding: 10px 20px;
    text-shadow: 1px 1px rgb(11, 1, 1);
    letter-spacing: 2px;
   
    &:hover{
        color: aqua;
    }
}


/*------ Home -------*/
section{
    padding: 120px 10%;
}
.jumbotron h1{
    margin: 30px 0;
    font-size:$bigfont;
    font-family: "Inspiration";
    font-weight: normal;
    line-height: 1;
    text-shadow: 3px 4px rgb(17, 4, 4);
    letter-spacing: 1px;
}
.jumbotron h1 span{
    color: #f9004d;
}
.intro{
    padding-top: 150px;
}
/* texto intro historia artista galeria contacto*/
.float-start{
    padding-left: 10%;
}
.jumbotron h3{
    font-size: 25px;
    line-height: 3;
    text-shadow: 3px 4px rgb(17, 4, 4);
    letter-spacing: 2px;
   
}
.jumbotron img{
    border-radius: 200%;
    border: $maincolor 5px solid;
    background-size: cover;
    background-position: center;
}
/* ------- Servicios ----------*/
.servicio{
	
    background-image: url(../img/cassete.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
	
.text-servicio{
   text-align: center;
}
.text-servicio h2{
    font-size: $bigfont1;
    margin-bottom: 15px;
}
.box-content{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 3rem;
    align-items: center;
    margin-top: 3.5rem;
}
.card{
	height: 365px;
	width: 300px;
	padding: 10px 15px;
	background: #0a0a0ab9;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;
}
h5{
	color: white;
	font-size: 22px;
	margin-bottom: 20px;
}
.pra p{
	color: #fcfc;
	font-size: 16px;	
	line-height: 30px;
	margin-bottom: 20px;
}
.card .button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
.card:hover{
    transform: translateY(-8px);
}
 /* ------- Fin de Servicios ---------*/

 /* ------   videos --------------------*/
.video{	
    background: #bb0224;
 }
 .video-content{
    display: grid;
     grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
     grid-gap: 3rem;
     align-items: center;
     margin-top: 3.5rem;
     cursor: pointer;
 }
 .text-video{
    text-align: center;
 }
 .text-video h2{
     font-size: $bigfont1;
     margin-bottom: 15px;
 }
 .box video{
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all .30s;
  
}
.box h5{
    font-size: 25px;
    margin-bottom: 10px;
}
.box p{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.box video:hover{
    transform: scale(1.1);
   
}
/* -------- Fin De Videos ----*/


/* ---------- Footer ----- */
.col-sm span{
    color: #f9004d;
}

/* --------  Fin deL FOOTER -------*/ 


/*--------Pagina Historia----*/


.tema-historia{
    background: #d60337;
}
.tema-historia:hover{
    transform: translateY(-8px);
    
}

.tema-historia h1{
    margin: 1px 2px 3px;
    font-size: 50px;
    font-family: "Oswald";
    font-weight: normal;
    text-align: center;
    text-shadow: 2px 2px rgb(10, 0, 0);
    letter-spacing: 2px;
    margin-bottom: 50px;

}
.tema-historia h3{
    margin: 1px 2px 3px;
    font-size: 28px;
    font-family: "Oswald";
    font-weight: normal;
    text-align: center;
    text-shadow: 1px 1px rgb(10, 0, 0);
    letter-spacing: 2px;
    margin-bottom: 50px;
    
}
   
.contenedor-columna{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 3rem;
    align-items: center;
    margin-top: 3.5rem;
}

.columnax2 img{
    max-width: 100%;
    width: 600px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: all .30s;
}

.columnax2 h4{
    font-size: 30px;
    margin-bottom: 10px;
}
.columnax2 p{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}
.columnax2 img:hover{
    transform: scale(1.1);
   
}

/*--------- Fin de Pagina Historia----------*/


/*--------  Pagina Artistas  --------------*/
#artistax{
    text-align: center;
}
.artista-text h1{
     margin: 1px 2px 3px;
    font-size: $bigfont2;
    font-family: "Inspiration";
    font-weight: normal;
    text-shadow: 4px 4px rgb(10, 0, 0);
    letter-spacing: 3px;
}
.artista-text p{
    font-size: 2rem;
    text-align: center;
}
.contenedor-columnas{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 3rem;
    align-items: center;
    margin-top: 3.5rem;
}
.columnax3 img{
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all .30s;
}
.columnax3 h4{
    font-size: 30px;
    margin-bottom: 10px;
}
.columnax3 p{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}
.columnax3 img:hover{
    transform: scale(1.1);
   
}
.artistaxx{
    background: #f80350;
}
.text-artista h2{
    text-align: center;
    font-size: $bigfont1;
    font-family: "Oswald";
    text-shadow: 3px 3px rgb(17, 4, 4);
    letter-spacing: 15px;
    margin-bottom: 25px;
}
.contenedor-artxx{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 3rem;
    align-items: center;
    margin-top: 3.5rem;
}
.columna img{
    max-width: 100%;
    width: 3000px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
    border:2px solid #fff;
    transition: all .30s;
    
}
.columna h5{
    font-size: 25px;
    font-family: "Italiana";
    text-shadow: 2px 2px rgb(17, 4, 4);
    letter-spacing: 2px;
}





/*--------  Fin Pagina de Artistas  --------------*/

/*--------  Pagina DE GALERIA  --------------*/

.galeria-text h1{
    /*background: rgba(54, 1, 20, 0.2);*/
    margin: 1px 2px 3px;
    font-size: $bigfont2;
    font-family: "Inspiration";
    font-weight: normal;
    text-shadow: 4px 4px rgb(10, 0, 0);
    letter-spacing: 3px;
}
.galeriax{
    text-align: center;
 }
 .text-galeriax h2{
     font-size: $bigfont2;
     margin-bottom: 15px;
 }
 .text-galeriax p{
    font-size: 25px;
 }
.contenedor-galery{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 3rem;
    align-items: center;
    margin-top: 3.5rem;
}
.galery img{
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    border:2px solid #fff;
    transition: all .30s;
}
.galery img:hover{
    transform: scale(1.1);
   
}
/*--------  Fin Pagina de GALERIA  --------------*/

/*------- Pagina Contacto-------*/

.contacto-text h1{
    /*background: rgba(54, 1, 20, 0.2);*/
    margin: 1px 2px 3px;
    font-size: $bigfont2;
    font-family: "Inspiration";
    font-weight: normal;
    text-shadow: 4px 4px rgb(10, 0, 0);
    letter-spacing: 3px;
}
.contact{
    background: #171415;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 6rem;
}
.contact-img img{
    max-width: 100%;
    width: 720px;
    height: auto;
    border-radius: 10px;
    border:2px solid #fff;
}

/* ------- Animaciones, Transicionpara o transformacion github ------*/
.contact-img img:hover{
    transform: scale(1.1);
    transition: .2s;
   
}
/* ------- Animaciones, Transicionpara o transformacion github ------*/

.contac-form h1{
    font-size: 70px;
    color: #fff;
    margin-bottom: 20px;
}
.contac-form p{
    color: #c6c9d8bf;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
}
.contac-form form{
    position: relative;
}
.contac-form form input, form textarea{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}
.contac-form textarea{
    resize: none;
    height: 200px;
}
.contac-form form .btn{
    display: inline-block;
    background: #f80350;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 220px;
    transform: ease .20s;
    cursor: pointer;
    
}
.contac-form form .btn:hover{
    border: 2px solid #c6c9d8bf;
    background: transparent;
    transform: scale(1.1);    
}


