@media (max-width: 768px){
       
    .jumbotron h1{
        margin: 25px 0;
        font-size: $mbigfont;
        transition: .2s; 
    }
    .jumbotron img{
         border:$maincolor 3px solid;
         transition: .2s; 
    }
    .jumbotron h3{
        font-size: 18px;    
        transition: .2s; 
       
    }
    .text-galeriax h2{
        font-size: $mbigfont1;
      
    }
    .text-artista h2{
        font-size: $mbigfont1;
    }
    .contac-form h1{
        font-size: $mbigfont1;
    }
    .contact-img img{
        display: none;
    }
}
@media (max-width: 560px){
    .navbar-brand{
        font-size: 1rem;
        transition: .2s; 
    }
    
}