$bgcolor: #101010;
$secoundbgcolor: #191919;
$textcolor: #fff;
$secoundcolor: #c6c9d8bf;
$maincolor: #f9004d;
$bigfont: 7.0rem;
$bigfont1: 5.0rem;
$bigfont2: 6.0rem;
$h2font: 4.2rem;
$pfont: 1.1rem;
/*  Media */
$mbigfont: 4.8rem;
$mbigfont1: 2.8rem;